/*reset css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/*header*/

nav{
    background-color: #2d4059;
    height:150px;
    display:flex;
    
}
.logo{
    margin:15px;
    display:flex;
    
}
.imgLogo{
    width:15%;
}
.nombre{
    padding-left:5px;
    padding-right:5px;
}
.inputRecherche{
    height:30px;
    width:150%;
    border-radius: 10px;
    border:none;
}
 select{
    background-color: #2d4059;
    border:none;    
}
.imgCard{
    height:250px;
}

.imgCarousel{
    height:800px;
}
.cardIconCategory{
    height:150px;
}
.truelle{
    font-size:6em;
}

.footer{
    display:flex;
    text-align: center;
    margin-top:10px ;
    height:150px;
    background-color: #2d4059;
}

.footer_gauche{
    display:flex;
    text-align: center;
    margin-top:10px ;
    height:10px;
    width:50px;
    background-color: #2d5933;
}

.footer_centre{
    display:flex;
    text-align: center;
    margin-top:10px ;
    height:10px;
    width:50px;
    background-color: #30d847;
}

.footer_droit{
    display:flex;
    margin-top:10px ;
    height:10px;
    width:50px;
    background-color: #99c914;
}